body{
    background-color: rgb(22, 150, 133);
}
h1{
    font-family: Cream Cake;
    color: rgb(18, 233, 204);
    font-size:500%;
}
.Album{
    border-radius: 15px;
background-color: rgb(191, 226, 247);
float: left;
margin: 22px;
padding: 10px;
}
h4{
    color: #1c1c9b;
    font-size:larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Album1
{
    border-radius: 15px;
    background-color: rgb(191, 226, 247);
    float: left;
    margin: 22px;
    padding: 10px;
    }
    .Album3
{
    border-radius: 15px;
    background-color: rgb(191, 226, 247);
    float: left;
    margin: 22px;
    padding: 10px;
    }
    #Album{
        transition: all 300ms;
        position: relative;
    }
    #Album:hover{
        transform: scale(1.15);
    }
    #Album1{
        transition: all 300ms;
        position: relative;
    }
    #Album1:hover{
        transform: scale(1.15);
    }

    #Album3{
        transition: all 300ms;
        position: relative;
    }
    #Album3:hover{
        transform: scale(1.15);
    }
    .Foto{
        border-radius: 10%;
    }
    .Foto1{
        border-radius: 10%;
    }
    .Foto2{
        border-radius: 10%;
    }